* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
}

.nav {
     background-color: rgb(202, 215, 225);
     padding: 1rem;
     display: flex;
     justify-content: space-between;
}

.links {
     display: none;
}

.links a {
     margin-bottom: .5rem;
}

.toggle {
     font-size: 2.5rem;
     margin-left: auto;
     cursor: pointer;
     color: rgb(16, 75, 119);
}

.exit {
     display: none;
}

.show_links .exit {
     display: block;
}

.show_links .default {
     display: none;
}

.show_links .links{
     display: flex;
     flex-direction: column;
}