* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style: circle;
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
     padding: 1rem;
     background-color: azure;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
}

main {
     position: relative;
     background-color: #fff;
     width: 80%;
     max-width: 500px;
     margin: auto;
     border-radius: 4px;
     box-shadow: 0px 0px 10px 0px #c0bebe61;
     padding: 1rem;
}

.alert {
     text-align: center;
     font-size: .8rem;
     /* padding: .2rem; */
     letter-spacing: 1px;
     line-height: 24px;
     font-weight: 400;
     margin-bottom: 1rem;
}

.alert_success {
     background-color: rgba(94, 154, 4, 0.3);
     color: rgb(29, 91, 2);
}

.alert_error {
     background-color: rgba(220, 20, 60, 0.228);
     color: crimson;
}

form {
     margin-bottom: 1.2rem;
     position: relative;
}

.form_input {
     padding: .5rem;
     border: 1px solid #3333332c;
     border-radius: 4px;
     color: #333333d4;
     outline: none;
     font-size: 1rem;
     width: 100%;
}

.form_input::placeholder{
     color: #33333343;
}

.add_btn {
     background-color: rgb(117, 208, 208);
     padding: .65rem 1rem;
     border: none;
     position: absolute;
     right: 0px;
     color: #fff;
     letter-spacing: 2px;
     text-transform: capitalize;
     cursor: pointer;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     outline: none;
}

.add_btn:focus {
     outline: none;
}

.grocery_list_container {
     margin-bottom: 1.2rem;
     display: flex;
     flex-direction: column;
     gap: .7rem;
}
.grocery_list {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.grocery_list ul {
     padding-left: .8rem;
     text-transform: capitalize;
     color: #757070;
     font-size: 1.2rem;
     letter-spacing: 1px;
     font-weight: 400;
     margin-bottom: .5rem;
}

.grocery_btns {
     display: flex;
     align-items: center;
}

.grocery_btns div {
     cursor: pointer;
     position: relative;
     /* z-index: 20; */
}

.grocery_btns img {
     width: 40px;
     height: 40px;
     position: relative;
     /* z-index: 10; */
}

.grocery_btns .edit_btn {
     width: 20px;
     height: 20px;
}

.clear_btn {
     text-align: center;
     color: crimson;
     font-weight: 400;
     letter-spacing: 2px;
     cursor: pointer;
     text-transform: capitalize;
     display: none;
}

.show_clear_btn {
     display: block;
}

.dialog_wrapper {
     background-color: #c692926e;
     position: fixed;
     width: 100%;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     display: none;
}

.show_dialog {
     display: flex;
}

.dialog {
     background-color: rgb(205, 113, 113);
     padding: 1.5rem;
     width: 90%;
     display: flex;
     flex-direction: column;
     gap: 1.2rem;
     border-radius: 2px;
}

.dialog img {
     width: 60%;
     height: 60%;
     margin: auto;
}

.dialog h1 {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: 2px;
     line-height: 36px;
     font-size: 1rem;
     color: #383737;
}

.confirm_btn {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 90%;
     margin: auto;
}

.confirm_btn button {
     padding: .5rem 1rem;
     border-radius: 6px;
     cursor: pointer;
     border: none;
     outline: none;
     color: #fff;
     font-size: 1.1rem;
     font-weight: 500;
     letter-spacing: 2px;
     line-height: 24px;
     text-transform: capitalize;
     width: 100px;
}

.confirm_btn button:first-child {
     background-color: rgb(62, 148, 148);
}
.confirm_btn button:last-child {
     background-color: crimson;
}