* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #010316eb;
  background-image: url("../assets/woman1.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 75%;
  margin: 8rem auto;
  color: #a2a18f;
}

.group {
  width: 100%;
  border: 0.3px solid #b19e6b;
  padding: 1rem;
  border-radius: 8px;
  /* transition: all;
  transition-duration: 3s;
  transition-delay: 1.5s; */
  max-width: 500px;
  margin: 1rem auto;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #b19e6b;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.toggle:hover {
  background-color: #4d4328;
  transition: all 1s ease-in-out;
}

.answer {
  border-top: 1px solid #b19e6b;
  padding: 1rem 0;
  font-family: cursive;
  transition: all 2s ease-in-out;
  display: none;
  line-height: 28px;
}

.collapse {
  display: none;
}

.show_answer .answer,
.show_answer .collapse {
  display: block;
}

.show_answer .expand {
  display: none;
  transition: all 2s ease-in-out;
}
