* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
     background-color: rgb(222, 227, 239);
     /* padding: 1rem; */
}

.title {
     font-size: 1.3rem;
     font-weight: 600;
     letter-spacing: 2px;
     line-height: 42px;
     margin-bottom: 1rem;
     text-transform: capitalize;
     text-align: center;
     color: rgb(3, 3, 40);
     padding: 2rem 1rem;
}

.quiz_result {
     padding: 2rem 0;
     background-color: rgba(225, 233, 239, 0.539);
     padding: 2rem;
     text-align: center;
     display: none;

}

.quiz_result p,
.form_div h2 {
     text-transform: capitalize;
     font-size: 1.3rem;
     font-weight: 500;
     letter-spacing: 2px;
     line-height: 32px;
}

.form_div {
     padding: 3rem 1rem;
     background-color: rgb(140, 140, 193);
}

.form_div h2 {
     font-size: 1.2rem;
     margin-bottom: 2rem;
}

.quiz_btn {
     width: 150px;
     display: flex;
     justify-content: center;
     margin: 1rem auto;
     padding: .5rem;
     background-color: rgb(225, 233, 239);
     border: 2px solid rgb(225, 233, 239);
     border-radius: 2px;
     font-size: 1.2rem;
     font-weight: 500;
     line-height: 32px;
     letter-spacing: 2px;
     color: rgb(140, 140, 193);
}

.quiz_btn:hover {
     border-color: 2px solid rgb(140, 140, 193);
     transition: all .3s ease-in-out;
}