* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.preloader_div {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hide_preloader {
  display: none;
}

.preloader_div img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video_heading {
  position: absolute;
  z-index: 1;
  background-color: #333333a6;
  height: 100vh;
  left: 0;
  right: 0;
}

.video_heading h1{
  color: #fff;
  font-size: 2.5rem;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video_section {
  position: relative;
  height: 100vh;
}

.video {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -5;
  height: 100vh;
  object-fit: cover;
}

.video_toggle {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 50;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3dcdc;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  border: none;
}

.video_toggle:hover {
  background-color: rgb(136, 193, 242);
  transition: all 1s ease-in-out;
}

span {
  width: 40px;
  color: rgb(6, 83, 150);
  font-size: 1.2rem;
  font-weight: 600;
}

.slider {
  position: absolute;
  background-color: rgb(6, 83, 150);
  left: 0%;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transition: all .2s ease-in-out;
}

.slide {
  left: 50%;
  transition: all .2s ease-in-out;
}