* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     list-style: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
     background: #aed1ec46;
}

main {
     padding: 1rem;
}

.about {
     text-align: center;
     margin: 3rem auto;
}

.about h1 {
     font-size: 2.1rem;
     font-weight: 700;
     letter-spacing: 2px;
     line-height: 42px;
     margin-bottom: 1rem;
}

.about p {
     color: rgb(96, 90, 90);
}

.tab_div {
     display: grid;
     grid-template-columns: 1fr;
     gap: 1.5rem;
     margin-bottom: 3rem;
}

.tab_img {
     width: 100%;
     height: 100%;
}

.tab_img img {
     width: 100%;
     height: 100%;
     border-radius: 8px;
     object-fit: cover;
     background: transparent;
}

.btn_div {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 0;
     border-top-right-radius: 8px;
     border-top-left-radius: 8px;

}

button {
     width: 100%;
     background: #6188a5b9;
     border: none;
     padding: 1rem;
     font-size: 1.1rem;
     letter-spacing: 2px;
     outline: none;
     cursor: pointer;
     text-align: center;
}

button:first-child {
     border-top-left-radius: 8px;
}

button:last-child {
     border-top-right-radius: 8px;
}

button.active_btn {
     background-color: #aed1ec90;
}

.info {
     padding: 1.5rem 1rem;
     background-color: #fff;
     border-bottom-left-radius: 8px;
     border-bottom-right-radius: 8px;
}

.info h3 {
     font-size: 1.2rem;
     line-height: 42px;
     letter-spacing: 2px;
     margin-bottom: .2rem;
     font-weight: 600;
}

.info p {
     font-size: .9rem;
     line-height: 22px;
     letter-spacing: 1px;
     margin-bottom: .2rem;
     font-weight: 400;
     color: rgb(96, 90, 90);
}

@media screen and (min-width:768px) {
     .tab_div {
          grid-template-columns: 1fr 1fr;
     }
     
}